h1 {
    font-size: 6em;
    font-weight: 100;
    font-family: $font-header;
    text-shadow: $text-emboss;
}
h2 {
    font-size: 5em;
    font-weight: 100;
}
p {
    font-size: 1.6em;
    font-weight: normal;
    font-family: $font-body;
}
